.postContent {
  display: flex;
  flex-direction: column;
  flex: 7.5;
  width: 80%;
  margin: auto;
  /* margin: 30px 0; */
}

.postContent p {
  line-height: 2rem;
}

.postTitle {
  font-size: 1rem;
}

.metaData {
  margin: 1rem 0;
}

.postDate {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin: 10px 0;
}

.postDate path {
  color: #0000009f;
}

.postDate svg {
  margin: auto 0;
}

.postCategory {
  display: flex;
  width: 136px;
  align-items: center;
  justify-content: center;
  padding: 11px 15px;
  background-color: rgb(0, 107, 156);
  border-radius: 20px;
  font-weight: 600;
  color: white;
  font-size: 12px;
}

.postCategory p {
  padding: 0;
}

@media (min-width: 460px) {

  .postTitle {
    font-size: 1.4rem;
  }

  .postDate {
    font-size: 16px;
  }

  .metaData {
    display: flex;
    gap: 2rem;
  }

  .postImageContainer {
    box-shadow: 0 0 1px #494949;
  }

  .postImage {
    width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .postDate {
    font-size: 18px;
  }

  .postCategory {
    font-size: 16px;
  }

  .postTitle {
    font-size: 1.6rem;
  }
}