.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 80%;
  margin: auto;
}

.header {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

.header p {
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0;
}

.header h1 {
  font-family: "Inria Serif", serif;
  font-size: 30px;
  color: #282728;
}

.loading {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 7.5;
}

@media(min-width: 600px) {
  .section {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media(min-width: 900px) {
  .section {
    grid-template-columns: repeat(3, 1fr)
  }
}
