.postContainer {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.postContainer p {
  line-height: 34px;
}

.postTitle {
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0;
  font-family: "Frank Ruhl Libre", serif;
}

.postCategory {
  color: #bd6f0a;
  font-weight: 500;
}


.postDate {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #9b9b9b;
  margin: 10px 0;
  font-style: italic;
  border-bottom: 1px solid #57b43b62;
  padding-bottom: 20px;
}

.postDate path {
  color: #9b9b9b;
}

.postCategory p {
  padding: 0;
}

.postContent {
  max-width: 600px;
}

.postImage {
  margin: 20px 0;
}



@media (min-width: 800px) {
  .postDate {
    font-size: 16px;
  }

  .postTitle {
    font-size: 38px;
    
  }
}

/* -------- */
/* SKELETON */
/* -------- */

.skeleton {
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonPostTitle {
  height: 50px;
  margin: 15px 0;
}

.skeletonPostCategory {
  height: 21px;
  width: 100px;
}

.skeletonPostDate {
  height: 21px;
  margin: 20px 0;
  width: 300px;

}

.skeletonPostImage {
  max-width: 600px;
  width: 90%;
  height: 300px;
  margin-bottom: 10px;
}

.skeletonPostContent {
  height: 15px;
  max-width: 600px;
  margin: 15px 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}