.containerClasses {
  display: block;
  /* flex-wrap: wrap; */
  gap: 0.5rem;
  list-style: none;
  font-size: 0.9rem;
  background-color: #00000008;
  max-width: 1000px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activeClasses a {
  color: var(--green);
  font-weight: 600;
}
