.category {
  font-size: 14px;
  font-weight: 500;
  color: #ad620d;
  margin: 0 0 10px 0;
}

.cardTitle {
  font-size: 14px;
  font-weight: 400;
}

.cardLink {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  background-color: #fff;
  border-radius: 4px;
}

.cardLink img {
  border-radius: 4px 4px 0 0;
}


.cardContent {
  padding: 30px 20px;
  box-sizing: border-box;
}
