.navContainer {
  position: relative;
  z-index: 1;
  height: 70px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px #5c5c5c;
}

.navbar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebarOpen {
  color: #282728;
  font-size: 24px;
  padding: 14px 5px 5px 5px;
  cursor: pointer;
  display: none;
}

.sidebarOpen:hover {
  color: #707070;
  transition: all 0.3s ease;
}

.logo p:hover {
  color: #707070;
  transition: all 0.3s ease;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo p {
  color: #000;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 600;
}

.logoToggle {
  display: none;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks li {
  margin: 0 5px;
  list-style: none;
  display: flex;
  align-items: center;
}

.navLinks li a {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #282728;
  text-decoration: none;
  padding: 10px;
}

.navLinks li a:hover {
  color: #8d8d8d;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.searchBox {
  position: relative;
}

.searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.searchToggle svg {
  position: absolute;
  top: 8px;
  left: 15px;
  color: #282728;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchToggle .cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active .cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active .search {
  opacity: 0;
  pointer-events: none;
}

.searchField {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: #00b882;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active~.searchField {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.searchField::before {
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: #00b882;
  transform: rotate(-45deg);
  z-index: -1;
}

.searchField input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #282728;
  background-color: #ffffff;
}

.searchField svg {
  position: absolute;
  color: #00b882;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

.searchToggle svg:hover {
  color: #707070;
  transition: all 0.3s ease;
}

@media (max-width: 790px) {
  .sidebarOpen {
    display: block;
  }

  .active .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .active .navLogo p {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: #f3f3f3;
    z-index: 100;
    transition: all 0.4s ease;
  }

  .active .menu {
    left: -0%;
  }

  .logoToggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .siderbarClose {
    color: #000;
    font-size: 24px;
    cursor: pointer;
  }

  .siderbarClose:hover {
    color: #8d8d8d;
    transition: all 0.3s ease;
  }

  .navLinks {
    flex-direction: column;
    padding-top: 30px;
  }

  .navLinks li a {
    display: block;
    margin-top: 20px;
  }
}

/* LISTA DE CATEGORIAS */

.categoryList {
  display: none;
}

.categoryList a {
  color: #fff;
  margin: 5px 0;
}

.categoryList a:hover {
  color: #bbbbbb;
  transition: all 0.3s ease;
}

.categoryList.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  background-color: #6a6c74;
  color: white;
  width: 100%;
  margin-top: 10px;
}

.categoryList::before {
  content: '';
  position: absolute;
  right: 154px;
  top: 289px;
  height: 12px;
  width: 12px;
  background-color: #6a6c74;
  transform: rotate(-45deg);
  z-index: -1;
}



@media (min-width: 790px) {
  .navLinks {

    position: relative;
  }

  .categoryList.active {
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 170px;
    width: 195px;
    transition: all 0.3s ease;
    pointer-events: none;
    pointer-events: auto;
  }

  .categoryList::before {
    right: 90px;
    top: -6px;
  }

  .categoryList a:hover {
    color: #bbbbbb;
    transition: all 0.3s ease;
  }
}