.errorMessage {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 90%;
  margin: auto;
  color: #282728;
}

.errorMessage h1 {
  font-size: 1.5rem;
  text-align: center;
}

.header {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

.header h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 35px;
  color: #282728;
}

.header p {
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0;
}

.posts {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

@media(min-width: 600px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

.category {
  font-size: 14px;
  font-weight: 500;
  color: #ad620d;
  margin: 0 0 10px 0;
}

.cardTitle {
  font-size: 20px;
  font-weight: 400;
  font-family: "Frank Ruhl Libre", serif;
}

.cardLink {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  background-color: #fff;
  border-radius: 4px;
}

.cardLink img {
  border-radius: 4px 4px 0 0;
}


.cardContent {
  padding: 30px 20px;
  box-sizing: border-box;
}