@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #f5fafa;
  --strongblue: #117777;
  --green: #01B883;
  --browncolor: #B5460F;
  --bluecolor: #E2F3F3;
  --blackcolor: #282728;
  --whitecolor: #FFFFFF;
  --yellowcolor: #ffd977;
  --yellowcolorhover: #ffc637;
  --blue: #0D77F4;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main {
  max-width: 900px;
  margin: auto;
  padding: 0 15px;
} */

li {
  margin: 0 0 0 20px;
}

/* button {
  transition: opacity .3s;
  text-decoration: none;

  &:focus,
  &:hover {
    opacity: .5;
  }
} */

a {
  text-decoration: none;
  color: #282728;
}

.myAside {
  margin: 2rem 0;
}
