.footerContainer {
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px #5c5c5c;
  margin: 60px 0 0 0;
  color: #282728;
}

.brandContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.navContainer {
  display: flex;
  width: 90%;
  margin: 20px auto;
  justify-content: space-around;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem;
}

.brand p {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 20px;
  font-weight: 600;
}

.footerParagraph {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  color: #000;
}

.footerList {
  margin: 0 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

.terms {
  padding: 30px 10px;
  border-top: 1px solid #dddddd;
  text-align: center;
}

.terms a {
  color: #1759d3;
  text-decoration: underline;
}

.terms a:hover {
  color: #6d99eb;
}

@media (min-width: 800px) {
  .footerContent {
    margin: 30px 30px;
    display: flex;
    justify-content: space-evenly;
  }

  .brandContainer {
    width: 50%;
  }

  .navContainer {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    
    
  }
}
